In [6]:
import pandas as pd

AttributeError: partially initialized module 'pandas' from '/Users/Caroline/miniconda3/envs/ds6021/lib/python3.13/site-packages/pandas/__init__.py' has no attribute '_pandas_datetime_CAPI' (most likely due to a circular import)

In [ ]:
# Load the data
two = pd.read_csv('asthma_2022.txt')
three = pd.read_csv('asthma_2023.txt')
#five = 

# Look at a sample df 
two.head()

,2022 National Rankings,Metropolitan Area,Total Score,Counties
0,1,Detroit MI,100.00,"Wayne County, Lapeer County, Livingston County..."
1,2,Cleveland OH,99.51,"Ashtabula County, Cuyahoga County, Geauga Coun..."
2,3,Allentown PA,98.62,"Warren County NJ, Carbon County PA, Lehigh Cou..."
3,4,Lakeland FL,97.72,Polk County
4,5,Fresno CA,91.36,"Fresno County, Madera County"

In [ ]:
# Rename columns - doing individually due to year in columns

two = two.rename(columns={'2022 National Rankings': 'Rank',
                 'Metropolitan Area': 'Metropolitan_Area',
                 'Total Score': 'Score'})

three = three.rename(columns={'2023 National Rankings': 'Rank',
                 'Metropolitan Area': 'Metropolitan_Area',
                 'Total Score': 'Score'})

"""
five = five.rename(columns={'2025 National Rankings': 'Rank',
                 'Metropolitan Area': 'Metropolitan_Area',
                 'Total Score': 'Score'})
"""

"\nfive = five.rename(columns={'2025 National Rankings': 'Rank',\n                 'Metropolitan Area': 'Metropolitan_Area',\n                 'Total Score': 'Score'})\n"

In [ ]:
# Make a state column - can be written as a function to be applied to each dataframe

def state(df):
    df['State'] = df['Metropolitan_Area'].str[-2:]
    return df

state(two)
state(three)
# state(five)

,Rank,Metropolitan_Area,Score,Counties,State
0,1,Allentown PA,100.00,"Warren County NJ, Carbon County PA, Lehigh Cou...",PA
1,2,Lakeland FL,93.65,Polk County,FL
2,3,Charleston SC,92.89,"Berkeley County, Charleston County, Dorchester...",SC
3,4,Cleveland OH,92.69,"Ashtabula County, Cuyahoga County, Geauga Coun...",OH
4,5,Detroit MI,91.48,"Wayne County, Lapeer County, Livingston County...",MI
...,...,...,...,...,...
95,96,Durham NC,36.95,"Chatham County, Durham County, Orange County, ...",NC
96,97,Madison WI,36.76,"Columbia County, Dane County, Green County, Io...",WI
97,98,Oxnard CA,36.60,Ventura County,CA
98,99,Salt Lake City UT,35.21,"Salt Lake County, Tooele County",UT
99,100,Provo UT,23.42,"Juab County, Utah County",UT

In [ ]:
# Make each county entry a list

def counties_list(df):
    df['Counties'] =  df['Counties'].astype(str).str.split(', ')
    return df

counties_list(two)
counties_list(three)
# counties_list(five)

,Rank,Metropolitan_Area,Score,Counties,State
0,1,Allentown PA,100.00,"[Warren County NJ, Carbon County PA, Lehigh Co...",PA
1,2,Lakeland FL,93.65,[Polk County],FL
2,3,Charleston SC,92.89,"[Berkeley County, Charleston County, Dorcheste...",SC
3,4,Cleveland OH,92.69,"[Ashtabula County, Cuyahoga County, Geauga Cou...",OH
4,5,Detroit MI,91.48,"[Wayne County, Lapeer County, Livingston Count...",MI
...,...,...,...,...,...
95,96,Durham NC,36.95,"[Chatham County, Durham County, Orange County,...",NC
96,97,Madison WI,36.76,"[Columbia County, Dane County, Green County, I...",WI
97,98,Oxnard CA,36.60,[Ventura County],CA
98,99,Salt Lake City UT,35.21,"[Salt Lake County, Tooele County]",UT
99,100,Provo UT,23.42,"[Juab County, Utah County]",UT

In [ ]:
# Split up each df so that each county has its own row. There may be some duplicates... take the average if this is the case

def split(df):
    # Add a column with empty strings for now
    df['County'] = ''
    # Store the length of the original dataframe
    orig_len = len(df)
    # For every row in the dataframe
    for i in range(len(df)):
        for j in range(len(df.loc[i, 'Counties'])):
            # Create a new row at the end
            df.loc[len(df)] = [df.loc[i, 'Rank'], 
                            df.loc[i, 'Metropolitan_Area'],
                            df.loc[i, 'Score'],
                            df.loc[i, 'Counties'], 
                            df.loc[i, 'State'], 
                            #For the County column, take the jth item in the list
                            df.loc[i,'Counties'][j]
                            ]
    # Remove the initial rows that don't have a county
    df.drop(labels=range(orig_len), axis=0, inplace=True)
    return df

split(two)
split(three)
# split(five)

,Rank,Metropolitan_Area,Score,Counties,State,County
100,1,Allentown PA,100.00,"[Warren County NJ, Carbon County PA, Lehigh Co...",PA,Warren County NJ
101,1,Allentown PA,100.00,"[Warren County NJ, Carbon County PA, Lehigh Co...",PA,Carbon County PA
102,1,Allentown PA,100.00,"[Warren County NJ, Carbon County PA, Lehigh Co...",PA,Lehigh County PA
103,1,Allentown PA,100.00,"[Warren County NJ, Carbon County PA, Lehigh Co...",PA,Northampton County PA
104,2,Lakeland FL,93.65,[Polk County],FL,Polk County
...,...,...,...,...,...,...
695,98,Oxnard CA,36.60,[Ventura County],CA,Ventura County
696,99,Salt Lake City UT,35.21,"[Salt Lake County, Tooele County]",UT,Salt Lake County
697,99,Salt Lake City UT,35.21,"[Salt Lake County, Tooele County]",UT,Tooele County
698,100,Provo UT,23.42,"[Juab County, Utah County]",UT,Juab County
699,100,Provo UT,23.42,"[Juab County, Utah County]",UT,Utah County

In [ ]:
# Make a State_County column
    # Where County's state differs from State's state, use County's state 

def state_county(df):
    df['County'] = df['County'].apply(lambda x: x.replace(' ', '_'))   
    # If the states match
    df_match = df[df['State'] == df['County'].str[-2:]]
    # If they don't match
    df_not = df[df['State'] != df['County'].str[-2:]]
    #if df['State'] == df['County'].str[-2:]:
    #    df['State_County'] = df['State'] + '_' + df['County'] 
    return df_not

state_county(two)
state_county(three)
# state_county(five)

,Rank,Metropolitan_Area,Score,Counties,State,County
100,1,Allentown PA,100.00,"[Warren County NJ, Carbon County PA, Lehigh Co...",PA,Warren_County_NJ
104,2,Lakeland FL,93.65,[Polk County],FL,Polk_County
105,3,Charleston SC,92.89,"[Berkeley County, Charleston County, Dorcheste...",SC,Berkeley_County
106,3,Charleston SC,92.89,"[Berkeley County, Charleston County, Dorcheste...",SC,Charleston_County
107,3,Charleston SC,92.89,"[Berkeley County, Charleston County, Dorcheste...",SC,Dorchester_County
...,...,...,...,...,...,...
695,98,Oxnard CA,36.60,[Ventura County],CA,Ventura_County
696,99,Salt Lake City UT,35.21,"[Salt Lake County, Tooele County]",UT,Salt_Lake_County
697,99,Salt Lake City UT,35.21,"[Salt Lake County, Tooele County]",UT,Tooele_County
698,100,Provo UT,23.42,"[Juab County, Utah County]",UT,Juab_County
699,100,Provo UT,23.42,"[Juab County, Utah County]",UT,Utah_County

In [ ]:
# Make a State_County column
    # Where County's state differs from State's state, use County's state 
    # Use regex

import re

def state_county(df):
    df['County'] = df['County'].apply(lambda x: x.replace(' ', '_'))  
    # If there is no state in the County column, they match
    df_match1 = df[df['County'].str.extract(r'([A-Z]{2})$') != pd.na]
    # If the states match
    df_match2 = df[df['State'] == df['County'].str[-2:]]
    # All the rest will be where County's state differs from State's state
    #df_not = df - df_match1 - df_match2
    #if df['State'] == df['County'].str[-2:]:
    #    df['State_County'] = df['State'] + '_' + df['County'] 
    return df_match1

state_county(two)
state_county(three)
# state_county(five)

NameError: name 'two' is not defined