In [107]:
import pandas as pd

In [108]:
# Load the data
two = pd.read_csv('asthma_2022.txt')
three = pd.read_csv('asthma_2023.txt')
#five = 

# Look at a sample df 
two.head()

,2022 National Rankings,Metropolitan Area,Total Score,Counties
0,1,Detroit MI,100.00,"Wayne County, Lapeer County, Livingston County..."
1,2,Cleveland OH,99.51,"Ashtabula County, Cuyahoga County, Geauga Coun..."
2,3,Allentown PA,98.62,"Warren County NJ, Carbon County PA, Lehigh Cou..."
3,4,Lakeland FL,97.72,Polk County
4,5,Fresno CA,91.36,"Fresno County, Madera County"

In [109]:
# Rename columns - doing individually due to year in columns

two = two.rename(columns={'2022 National Rankings': '2022_Rank',
                 'Metropolitan Area': 'Metropolitan_Area',
                 'Total Score': 'Score'})

three = three.rename(columns={'2023 National Rankings': '2023_Rank',
                 'Metropolitan Area': 'Metropolitan_Area',
                 'Total Score': 'Score'})

"""
five = five.rename(columns={'2025 National Rankings': '2025_Rank',
                 'Metropolitan Area': 'Metropolitan_Area',
                 'Total Score': 'Score'})
"""

"\nfive = five.rename(columns={'2025 National Rankings': '2025_Rank',\n                 'Metropolitan Area': 'Metropolitan_Area',\n                 'Total Score': 'Score'})\n"

In [110]:
# Make a state column - can be written as a function to be applied to each dataframe

def state(df):
    df['State'] = df['Metropolitan_Area'].str[-2:]
    return df

state(two)
state(three)
# state(five)

,2023_Rank,Metropolitan_Area,Score,Counties,State
0,1,Allentown PA,100.00,"Warren County NJ, Carbon County PA, Lehigh Cou...",PA
1,2,Lakeland FL,93.65,Polk County,FL
2,3,Charleston SC,92.89,"Berkeley County, Charleston County, Dorchester...",SC
3,4,Cleveland OH,92.69,"Ashtabula County, Cuyahoga County, Geauga Coun...",OH
4,5,Detroit MI,91.48,"Wayne County, Lapeer County, Livingston County...",MI
...,...,...,...,...,...
95,96,Durham NC,36.95,"Chatham County, Durham County, Orange County, ...",NC
96,97,Madison WI,36.76,"Columbia County, Dane County, Green County, Io...",WI
97,98,Oxnard CA,36.60,Ventura County,CA
98,99,Salt Lake City UT,35.21,"Salt Lake County, Tooele County",UT
99,100,Provo UT,23.42,"Juab County, Utah County",UT

In [111]:
# Make each county entry a list

def counties_list(df):
    df['Counties'] =  df['Counties'].astype(str).str.split(', ')
    return df

counties_list(two)
counties_list(three)
# counties_list(five)

,2023_Rank,Metropolitan_Area,Score,Counties,State
0,1,Allentown PA,100.00,"[Warren County NJ, Carbon County PA, Lehigh Co...",PA
1,2,Lakeland FL,93.65,[Polk County],FL
2,3,Charleston SC,92.89,"[Berkeley County, Charleston County, Dorcheste...",SC
3,4,Cleveland OH,92.69,"[Ashtabula County, Cuyahoga County, Geauga Cou...",OH
4,5,Detroit MI,91.48,"[Wayne County, Lapeer County, Livingston Count...",MI
...,...,...,...,...,...
95,96,Durham NC,36.95,"[Chatham County, Durham County, Orange County,...",NC
96,97,Madison WI,36.76,"[Columbia County, Dane County, Green County, I...",WI
97,98,Oxnard CA,36.60,[Ventura County],CA
98,99,Salt Lake City UT,35.21,"[Salt Lake County, Tooele County]",UT
99,100,Provo UT,23.42,"[Juab County, Utah County]",UT

In [112]:
# Split up each df so that each county has its own row. There may be some duplicates... take the average if this is the case

def split(df):
    for i in range(len(df)):
        for j in range(len(df.loc[i, 'Counties'])):
                df['County'] = df.loc[i, 'Counties'][j]

def split_h(df):
     for i in range(1):
          for j in range(4):
               df['County'] = df.loc[i, 'Counties'][j]

split(two)
split_h(three)
# split(five)
three

,2023_Rank,Metropolitan_Area,Score,Counties,State,County
0,1,Allentown PA,100.00,"[Warren County NJ, Carbon County PA, Lehigh Co...",PA,Northampton County PA
1,2,Lakeland FL,93.65,[Polk County],FL,Northampton County PA
2,3,Charleston SC,92.89,"[Berkeley County, Charleston County, Dorcheste...",SC,Northampton County PA
3,4,Cleveland OH,92.69,"[Ashtabula County, Cuyahoga County, Geauga Cou...",OH,Northampton County PA
4,5,Detroit MI,91.48,"[Wayne County, Lapeer County, Livingston Count...",MI,Northampton County PA
...,...,...,...,...,...,...
95,96,Durham NC,36.95,"[Chatham County, Durham County, Orange County,...",NC,Northampton County PA
96,97,Madison WI,36.76,"[Columbia County, Dane County, Green County, I...",WI,Northampton County PA
97,98,Oxnard CA,36.60,[Ventura County],CA,Northampton County PA
98,99,Salt Lake City UT,35.21,"[Salt Lake County, Tooele County]",UT,Northampton County PA
99,100,Provo UT,23.42,"[Juab County, Utah County]",UT,Northampton County PA

In [113]:
print(len(three.loc[0, 'Counties']))
print(three.loc[0, 'Counties'])
print(three.loc[0, 'Counties'][0])

4
['Warren County NJ', 'Carbon County PA', 'Lehigh County PA', 'Northampton County PA']
Warren County NJ

In [ ]:
# Split up each df so that each county has its own row. There may be some duplicates... take the average if this is the case